@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #87ced5;
    --color2: #4fa2aa;
    --color3: #ffffff;
    --color4: #267880;
    --color5: #0b4f55;
    --color5: #003439;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color2);
}

::-webkit-scrollbar-thumb {
    background: var(--color1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color5);
}

body {
    background-color: var(--color1);
    height: 100vh;
    font-family: "Source Code Pro";
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.8rem;
    background-color: var(--color2);
    min-height: 50px;
}

.box-img-header {
    height: 100%;
}

.img-logo {
    max-width: 100px;
    height: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    color: var(--color3);
}

.nav-link:hover {
    color: var(--color4);
    transition: 0.3s;
    text-decoration: underline;
}

.button {
    display: flex;
    gap: 1rem;
}

:is(button, .link-action) {
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-action {
    background-color: transparent;
    border: 1px solid var(--color3);
    color: var(--color3);
}

.btn-action:hover {
    background-color: var(--color4);
    border: 1px solid var(--color4);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

section {
    padding: 3rem;
}

.fisrt-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 450px;
    min-width: 400px;
}

.fisrt-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 400px;
}

h1 {
    font-size: 4rem;
    color: var(--color3);
    letter-spacing: 8px;
}

strong {
    color: var(--color4);
}

.fisrt-section p {
    color: var(--color3);
}

.link-action {
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.box-img-main {
    max-width: 350px;
    padding: 1rem;
}

.img-profile {
    border-radius: 50%;
    width: 100%;
    border: 2px solid var(--color5);
    box-shadow: 1px 1px 1px 1px var(--color5);
}

/* .icon-language {
    max-width: 350px;
    padding: 1rem;
    width: 90px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

:is(.second-section, .fourth-section) {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    gap: 3rem;
    min-height: 550px;
}

.second-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section ul li {
    color: var(--color5);
    letter-spacing: 3px;
    font-weight: bold;
}

.second-section ul li:hover {
    color: var(--color3);
    transition: 0.6s;
    cursor: default;
}

.title {
    color: var(--color5);
}

.third-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img {
    width: 350px;
    border-radius: 60px;
    border: 2px solid var(--color5);
    box-shadow: 1px 1px 1px 1px var(--color5);
}

.third-section > div p {
    max-width: 600px;
    color: var(--color3);
    text-align: justify;
}

footer {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div {
    justify-content: center;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

#my-project-list {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-project-list a {
    text-decoration: none;
    color: var(--color5);
}

#my-project-list a:hover {
    color: var(--color3);
    transition: 0.6s;
    cursor: pointer;
}
